<h1>Leonardo Camp Frederiche</h1>

<div class="row">
  <div class="col-xs-12 col-md-5">

    <% @posts.each do |p| %>
      <h1># <%= link_to p.title, show_post_path(p.title) %></h1>
    <% end %>

  </div>

  <div class="col-xs-12 col-md-7">
    <h1>
      Sobre mim
    </h1>
    <p>
      Desde pequeno era curioso para saber como as coisas funcionavam e como tudo era feito, um belo dia, aos meus 13 anos de idade, estava jogando e me perguntei "como os jogos são feitos, sendo que um é bem diferente um do outro?", então pesquisei sobre e comecei a ver Lógica e desenvolvimento de jogos, não demorou para que surgise HTML, CSS e JS para estudar.
    </p>

    <p>
      Aos 16 anos comecei a estudar Ruby on Rails com uma equipe pra lá de bom. Hoje continuo estudando RoR e me especializando na área Web dia após dia.
    </p>

  </div>
</div>





