<div class="row">
  <div class="col-xs-12 col-md-4">
    <h1 class="name">Leonardo Camp</h1>
    <% @posts.each do |post| %>
      <h1># <%= link_to post.title, post_path(post) %></h1>
    <% end %>

  </div>

  <div class="col-xs-12 col-md-8">
    <h1>
      Sobre mim
    </h1>
    <pre>
Desde pequeno era curioso para saber como as coisas funcionavam e como tudo era feito, um belo dia, aos meus 13 anos de idade, estava jogando e me perguntei "como os jogos são feitos, sendo que um é bem diferente um do outro?", então pesquisei sobre e comecei a ver Lógica e desenvolvimento de jogos, não demorou para que surgise HTML, CSS e JS para estudar.

Aos 16 anos comecei a estudar Ruby on Rails com uma equipe pra lá de bom. Hoje continuo estudando RoR e me especializando na área Web dia após dia.
    </pre>

  </div>
</div>





