<h1>Editar postagen</h1>

<%= simple_form_for @post, url: edit_post_path do |p| %>
  
  <%= p.input :title, label: "Titulo" %>
  <%= p.input :text, label: "Texto" %>

  <%= p.submit "enviar", class: "btn btn-primary" %>

<% end %>